<% if @task %>
	<p>Are you sure you want to delete the following task: <em>"<%= @task.summary %>"</em>?</p>
	<form action="/<%= @task.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Yes, Delete It!">
		<a href="/<%= @task.id %>">Cancel</a>
	</form>
<% else %>
	<p>task not found.</p>
<% end %>
